services:
  nginx:
    build: ./requirements/nginx
    image: nginx:inception-42
    container_name: nginx
    ports:
      - "443:443"
      # - "80:80"
    volumes:
      - wp_files:/var/www/html:ro
    #   - ./web:/var/www/html:ro
    depends_on:
      - wordpress
      - mariadb
    restart: always
    networks:
      - 42-inception-network
    env_file:
      - ./.env
    extra_hosts:
      - "kishizu.42.fr:127.0.0.1"

  wordpress:
    build: ./requirements/wordpress
    image: wordpress:inception-42
    container_name: wordpress
    volumes:
      - wp_files:/var/www/html
    #   - ./web:/var/www/html
    depends_on:
      - mariadb
    restart: always
    networks:
      - 42-inception-network
    env_file:
      - ./.env
  

  mariadb:
    build: ./requirements/mariadb
    image: mariadb:inception-42
    container_name: mariadb
    restart: always
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - 42-inception-network
    env_file:
      - ./.env
  

volumes:
  wp_files:
  db_data:

networks:
  42-inception-network:
